<p>
  <i class="material-icons"
     style="font-weight: bold;
     font-size: 20px;
     cursor: pointer"
    (click)="go(-1)"
  >
    < </i>

  <span>
    {{ dateService.date | async | moment }}
  </span>

  <i class="material-icons"
     style="font-weight: bold;
     font-size: 20px;
     cursor: pointer"
     (click)="go(1)"
  >
    > </i>
</p>
